@media (max-width: 992px) {
  .lucid-header .navbar-light .navbar-nav .nav-item a.nav-link {
    width: max-content;
  }
  .lucid-header .navbar-light .navbar-nav .nav-item:first-child a.nav-link {
    padding-left: 10px;
  }
  .lucid-header .navbar-light .navbar-nav .nav-item:last-child a.nav-link {
    padding-right: 10px;
  }
  .lucid-header__item--left {
    text-align: center;
  }
  .lucid-header__item--right {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .lucid-about__item--right {
    text-align: center;
  }
  .lucid-about__item--right .span-about {
    width: max-content;
    margin: 0 auto;
  }
  .lucid-catcher__btn {
    justify-content: center;
  }
}
