body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #999999;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: #1a1a1a;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  color: #1a1a1a;
}

input, textarea {
  box-sizing: border-box;
  border: none;
}

.span-blue {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #008ed6;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-b {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  padding: 13px 28px;
  border: 1px solid #454549;
  text-transform: uppercase;
  transition: .5s;
  margin-right: 20px;
  margin-bottom: 15px;
}

.btn-b:hover {
  background-color: #008ed6;
  color: #fff;
}

.lucid-header {
  background: url("../img/bgH.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.lucid-header .container--flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.lucid-header .navbar-expand-lg {
  justify-content: space-between;
}

.lucid-header .navbar {
  padding: 30px 0;
}

.lucid-header .navbar-collapse {
  flex-grow: 0;
}

.lucid-header .navbar-light .navbar-nav a.nav-link {
  position: relative;
  color: #fffefe;
  text-transform: capitalize;
  line-height: 16px;
  padding: 10px 10px;
  transition: .5s;
}

.lucid-header .navbar-light .navbar-nav a.nav-link:hover {
  color: #008ed6;
}

.lucid-header .navbar-light .navbar-nav a.nav-link::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 5px;
  background-color: #008ed6;
  left: 0;
  bottom: 0;
  transition: .5s;
  opacity: 0;
}

.lucid-header .navbar-light .navbar-nav a.nav-link:hover::after {
  width: 50%;
  transform: translateX(100%);
  opacity: 1;
}

.lucid-header .navbar-light .navbar-nav a.nav-link::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 5px;
  background-color: #008ed6;
  right: 0;
  bottom: 0;
  transition: .5s;
  opacity: 0;
}

.lucid-header .navbar-light .navbar-nav a.nav-link:hover::before {
  width: 50%;
  transform: translateX(-100%);
  opacity: 1;
}

.lucid-header .navbar-light .navbar-nav .nav-item:first-child a.nav-link {
  padding-left: 0;
}

.lucid-header .navbar-light .navbar-nav .nav-item:last-child a.nav-link {
  padding-right: 0;
}

.lucid-header__item--left span {
  font-size: 14px;
  color: #008ed6;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 20px;
}

.lucid-header__item--left h1 {
  font-size: 48px;
  color: #eeeeee;
  padding-bottom: 25px;
}

.lucid-header__item--left p {
  font-size: 18px;
  color: #999999;
  padding-bottom: 60px;
}

.lucid-header__item--right {
  display: flex;
  justify-content: flex-end;
}

.lucid-features {
  text-align: center;
  padding: 65px 0;
}

.lucid-features .span-blue {
  padding-bottom: 15px;
}

.lucid-features h2 {
  padding-bottom: 100px;
  position: relative;
}

.lucid-features h2::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #008ed6;
  left: 50%;
  transform: translateX(-110%);
  bottom: 60px;
}

.lucid-features h2::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #008ed6;
  left: 50%;
  transform: translateX(10%);
  bottom: 60px;
}

.lucid-features img {
  padding-top: 10px;
  padding-bottom: 25px;
}

.lucid-features h3 {
  padding-bottom: 15px;
}

.lucid-about {
  padding-bottom: 5px;
}

.lucid-about__item--left {
  display: flex;
}

.lucid-about__item--right .span-blue {
  padding: 60px 0 15px 0;
}

.lucid-about__item--right h2 {
  padding-bottom: 60px;
  position: relative;
}

.lucid-about__item--right h2::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #008ed6;
  left: 0;
  bottom: 30px;
}

.lucid-about__item--right h2::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #008ed6;
  left: 0;
  transform: translateX(117%);
  bottom: 30px;
}

.lucid-about__item--right p {
  padding-bottom: 35px;
}

.lucid-about__item--right .span-about span {
  display: block;
  position: relative;
  padding-left: 25px;
  padding-bottom: 15px;
}

.lucid-about__item--right .span-about span::before {
  content: '';
  position: absolute;
  left: 0;
}

.lucid-about__item--right .span-about span:nth-child(1)::before {
  content: url("../img/lucid-about1.png");
}

.lucid-about__item--right .span-about span:nth-child(2)::before {
  content: url("../img/lucid-about2.png");
}

.lucid-about__item--right .span-about span:nth-child(3)::before {
  content: url("../img/lucid-about3.png");
}

.lucid-about__item--right .span-about span:nth-child(4)::before {
  content: url("../img/lucid-about4.png");
}

.lucid-testimonials {
  position: relative;
  text-align: center;
  padding: 55px 0;
}

.lucid-testimonials h2 {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 100px;
}

.lucid-testimonials p {
  color: #fff;
  font-style: italic;
  text-align: left;
  font-size: 24px;
}

.lucid-testimonials::after {
  content: '';
  position: absolute;
  background: url("../img/lucid-testimonials-1.jpg") no-repeat center/cover fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: .5s;
}

.lucid-testimonials .lucid-carusel .carousel-indicators {
  align-items: center;
}

.lucid-testimonials .lucid-carusel .carousel-indicators li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.lucid-testimonials .lucid-carusel .carousel-indicators .active {
  width: 15px;
  height: 15px;
  background-color: #008ed6;
}

.lucid-testimonials .lucid-carusel .wrap-carousel {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 80px;
  min-height: 470px;
}

.lucid-testimonials .lucid-carusel .wrap-carousel .wrap-carousel__text {
  flex-basis: 546px;
  padding-bottom: 5px;
}

.lucid-testimonials .lucid-carusel .wrap-carousel .wrap-carousel__text p {
  padding-bottom: 35px;
}

.lucid-testimonials .lucid-carusel .wrap-carousel .wrap-carousel__text .text-span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 85px;
  position: relative;
}

.lucid-testimonials .lucid-carusel .wrap-carousel .wrap-carousel__text .text-span span {
  font-size: 16px;
  color: #fff;
}

.lucid-testimonials .lucid-carusel .wrap-carousel .wrap-carousel__text .text-span span:last-child {
  font-weight: 700;
}

.lucid-testimonials .lucid-carusel .wrap-carousel .wrap-carousel__text .span-after1::after {
  content: url("../img/lucid-testimonials-icon1.png");
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.lucid-testimonials .lucid-carusel .wrap-carousel .wrap-carousel__text .span-after2::after {
  content: url("../img/lucid-testimonials-icon2.png");
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.lucid-catcher {
  background-color: #000;
  padding: 58px 0;
}

.lucid-catcher .lucid-catcher__btn {
  display: flex;
}

.lucid-catcher .lucid-catcher__btn .btn-b {
  flex-basis: 155px;
  flex-shrink: 0;
}

.lucid-catcher p {
  font-size: 36px;
}

.lucid-catcher span {
  color: #fff;
  font-weight: 700;
}

.lucid-pricings {
  text-align: center;
  padding: 60px 0;
}

.lucid-pricings h2 {
  padding-bottom: 100px;
}

.lucid-pricings .btn-b {
  color: #008ed6;
  border: 1px solid #e0e0e0;
}

.lucid-pricings .btn-b:hover {
  color: #fff;
}

.lucid-pricings__card {
  margin: 0 auto 15px auto;
}

.lucid-pricings__card b {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #e0e0e0;
  padding: 17px 0;
}

.lucid-pricings__card p {
  border-top: 1px solid #e0e0e0;
  padding: 55px 30px;
}

.lucid-pricings__card .text {
  padding: 32px 0;
}

.lucid-pricings__card .text span {
  font-size: 60px;
  line-height: 60px;
  position: relative;
  display: inline-block;
}

.lucid-pricings__card .text span::before {
  content: '$';
  font-size: 24px;
  position: absolute;
  left: -12px;
  top: -6px;
}

.lucid-pricings__card .text p {
  border: none;
  padding: 0;
}

.lucid-pricings__card .btn-b {
  margin-bottom: 29px;
}

/*========animation for cards=====*/
.lucid-pricings__card {
  position: relative;
  width: 255px;
  height: 546px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.lucid-pricings__card--box {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.7s;
  transform: rotateY(0);
  transform-style: preserve-3d;
  background-color: #ededed;
  z-index: 1;
}

.lucid-pricings__card:hover .lucid-pricings__card--box {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

.lucid-pricings__card--box__back {
  background-color: #008ed6;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.lucid-pricings__card:hover .lucid-pricings__card--box__back {
  transform: rotateY(0);
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

/*===============================================*/
.lucid-contact {
  background-color: #ededed;
  text-align: center;
  padding: 60px 0;
}

.lucid-contact h2 {
  padding: 0 0 77px 0;
}

.lucid-contact img {
  margin-bottom: 30px;
}

.lucid-contact__wrap {
  padding: 0 0 15px 0;
}

.lugid-footer {
  background-color: #000;
  padding: 70px 0;
  display: flex;
  justify-content: center;
}

.lugid-footer img {
  margin: 0 15px;
  transition: .2s;
  border-radius: 5px;
}

.lugid-footer img:hover {
  box-shadow: 0 0 10px #008ece;
  cursor: pointer;
  transform: rotate(360deg);
}

.lucid-popap {
  z-index: 999;
  display: none;
  background-color: rgba(0, 142, 214, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.lucid-popap form {
  padding: 60px;
  position: absolute;
  display: flex;
  background-color: #000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lucid-popap form .input-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.lucid-popap form textarea {
  height: 208px;
  width: 300px;
  background: none;
  color: white;
  font-size: 14px;
  line-height: 14px;
  padding: 20px;
  border: 1px solid #444348;
  border-radius: 5px;
}

.lucid-popap form input {
  border: 1px solid #444348;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 20px;
  color: white;
  background: none;
}

.lucid-popap form img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -13px;
  right: -20px;
  background: linear-gradient(0deg, #22c1c3 0%, #008ed6 100%);
  border-radius: 50%;
  cursor: pointer;
}

.lucid-popap.open {
  display: block;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

@media (max-width: 992px) {
  .lucid-header .navbar-light .navbar-nav .nav-item a.nav-link {
    width: max-content;
  }
  .lucid-header .navbar-light .navbar-nav .nav-item:first-child a.nav-link {
    padding-left: 10px;
  }
  .lucid-header .navbar-light .navbar-nav .nav-item:last-child a.nav-link {
    padding-right: 10px;
  }
  .lucid-header__item--left {
    text-align: center;
  }
  .lucid-header__item--right {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .lucid-about__item--right {
    text-align: center;
  }
  .lucid-about__item--right .span-about {
    width: max-content;
    margin: 0 auto;
  }
  .lucid-catcher__btn {
    justify-content: center;
  }
}
