section{
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1{
	font-weight: 700;
	font-size: 25px;
	padding: 0;
	margin: 0;
	padding-top: 60px;
}
section span{
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 58px;
}
.wrapTodoList{
	width: 692px;
}
.wrapTodoList__new{
	margin-bottom: 40px;
}
.wrapTodoList__newH{
	background: url(img/icons.png) no-repeat 15px 13px, url('img/fon1.png');
	display: flex;
	align-items: center;
	border: 1px solid #315589;
}
.wrapTodoList__newH:hover button.btnDeletH{
	opacity: 1;
}
.wrapTodoList__newH h2{
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	margin-left: 55px;
	padding: 14px 0;
}
.wrapTodoList__newH .btnDeletH{
	padding: 9px;
	background: url(img/fonCar.png) center no-repeat;
	border: none;
	margin-right: 10px;
	margin-left: auto;
	opacity: 0;
	transition: .2s;
}
.wrapTodoList__new .ourForm{
	background: url(img/iconsPlus.png) no-repeat 15px 12px, #dbdbdb;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
}
.wrapTodoList__new .ourForm .message{
	width: 500px;
	color: #bbbbbb;
	padding: 7px 10px;
	margin: 8px 0 8px 50px;
	font-size: 14px;
	border: none;
	border-top: 1px solid #707070;
}
.wrapTodoList__new .ourForm .add{
	border: 1px solid #447557;
	background-color: #52896a;
	font-size: 14px;
	color: #fff;
	padding: 6px 22px;
	margin-right: 10px;
	border-radius: 0 5px 5px 0;
	font-weight: 600;
}
.wrapTodoList__new .todo{
	margin: 0;
	padding: 0;
	list-style: none;
}
.wrapTodoList__new .todo li{
	position: relative;
	display: flex;
	background-color: #fff;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-bottom: 1px solid #e7ebea;
}
.wrapTodoList__new .todo li:last-child{
	border-radius: 0 0 10px 10px;
}
.wrapTodoList__new .todo li:hover{
	transition: .5s;
	background: #fcfed5;
}
.wrapTodoList__new .todo li:hover .buttonPriorWrap,.wrapTodoList__new .todo li:hover button[value=delet]{
	transition: .5s;
	opacity: 1;
}
.wrapTodoList__new .todo .inputWrap{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #efdadf;
}
.wrapTodoList__new .todo .inputWrap::before{
	content:'';
	position: absolute;
	width: 12px;
	height: 12px;
	background: linear-gradient(to top, #fff 20%, #eaeaea 50%, #fff 80%);
	border: 1px solid #727272;
	border-radius: 2px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.wrapTodoList__new .todo .inputWrap input{
	position: relative;
	margin: 0 15px;
	opacity: 0;
	z-index: 1;
}
.wrapTodoList__new .todo .inputWrap.chec::after{
	content: '\2714';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 14px;
}
.wrapTodoList__new .todo label{
	color: #9f9f9f;
	font-size: 14px;
	margin-left: 4px;
	border-left: 1px solid #efdadf;
	padding: 18px 16px;
	margin-right: auto;
}
.wrapTodoList__new .todo button[value=delet]{
	align-self: center;
}
.wrapTodoList__new .todo .buttonPriorWrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding-left: 10px;
	border-left: 1px solid #e7ebea;
	opacity: 0;
	transition: .2s;
}
.wrapTodoList__new .todo .buttonPriorWrap::after{
	content:'';
	position: absolute;
	height: 1px;
	width: 50%;
	background: #999999; 
	left: 50%;
	top: 50%;
	transform: translate(-29%,-50%);
}
.wrapTodoList__new .todo .buttonPriorWrap::before{
	content:'';
	position: absolute;
	height: 1px;
	width: 50%;
	background: #999999; 
	right: -11px;
	top: 50%;
	transform: translateY(-50%) rotate(90deg);
}
.wrapTodoList__new .todo .buttonPriorWrap button{
	color: #999999;
	font-size: 12px;
	background: transparent;
	border: none;
	transition: .5s;
}
.wrapTodoList__new .todo .buttonPriorWrap button:first-child{
	padding: 3px 10px 0 10px;
}
.wrapTodoList__new .todo .buttonPriorWrap button:last-child{
	padding: 0px 10px 3px 10px;
}
.wrapTodoList__new .todo .buttonPriorWrap button:hover{
	color: #1872ec;
}
.wrapTodoList__new .todo button[value=delet]{
	padding: 12px;
	margin-right: 10px;
	background: url(img/fonCarTask.png) no-repeat center;
	border: none;
	transition: .2s;
	border-radius: 10px;
	opacity: 0;
}
.wrapTodoList__new .todo button[value=delet]:hover{
	box-shadow: 0 0 2px 3px #1872ec;
}
form[name=formNameTodo]{
	background: url('img/fon1.png');
}
form[name=formNameTodo] input[name=nameTodo]{
	width:350px;
  color: #bbbbbb;
	padding: 7px 10px;
	margin: 8px 0 8px 10px;
	font-size: 14px;
	border: none;
	border-top: 1px solid #707070;
}
form[name=formNameTodo] input[type=submit]{
	border: 1px solid#447557;
	background-color:#52896a;
	font-size: 14px;
	color:#fff;
	padding: 6px 22px;
	margin-right: 10px;
	border-radius: 0 5px 5px 0;
	font-weight: 600;
}
form[name=formNameTodo] label{
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		padding: 14px 0;
		padding-left: 15px;
}
button.addNewTodoList{
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background: url('img/fon1.png');
	border: 1px solid #315589;
	padding: 16px 30px;
}